<div class=card>
    <div class="card-header">
            <div class="card-title h5">{{ event['summary'] }}</div>
    </div>
    <div class="card-body">
        <ul>
            <li>
                Location: {{ event['location'] }}
            </li>
            <li>
                Start: {{ event['start'].get('dateTime', event['start'].get('date')) }}
            </li>
            <li>
                End: {{ event['end'].get('dateTime', event['end'].get('date')) }}
            </li>
        </ul>
    </div>
</div>
