<div class="column col-xs-4">
  <div class="empty {% if not event.mainEvent %}opacity{% endif %}">
    <p class="empty-title">
      <h4>{{ event.summary }}</h4>
      <h5>{{ event.eventDate }}</h5>
      <h5>Von: {{ event.startTime }}</h5>
      <h5>Bis: {{ event.endTime }}</h5>
    </p>
    <div class="empty-action">
      <h2>{{ event.location }}</h2>
      <img src="static/images/{{ event.location }}_arrow.png" alt="arrow">
      <button class="btn" onclick="showMap('{{ event.location }}')">Situationsplan</button>
    </div>
  </div>
</div>
