<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Drengir: Narf</title>
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">
    <link rel="stylesheet" href="static/drengir.css">
    <script src="static/script.js"></script>
  </head>
  <body>
    <header class="navbar">
      <section class="navbar-section">
	<div class="container">
		<div class="column col-3>
		<img src="static/images/dieMobiliar.png" alt="die Mobiliar" height="20">
		</div>
		<div class="column col-6">
        	<div class="p-centered h3">Projekt NARF</div>
		</div>
		<div class="column col-3"></div>
	</div>
      </section>
    </header>
    <div class="divider"></div>
    <div class="container" id="calender_div">
      <div class="p-centered">{% include 'welcome.jinja' %}</div>
    </div>
  </body>
</html>
