<div class="container">
  <div class="columns">
    <div class="column col-xs-3"></div>
    <div class="column col-xs-6">
      <div class="p-centered">
        <h2>Lade Kalender</h2>
        <div class="loading loading-lg"></div>
      </div>
    </div>
    <div class="column col-xs-3"></div>
  </div>
</div>
