<div class="container">
  <div class="columns">
    <div class="column col-xs-3"></div>
    <div class="column col-xs-6">
      <div class="empty">
        <div class="empty-icon">
          <div class="loading loading-lg"></div>
        </div>
        <p class="empty-title h3">Lade Kalenderdaten ...</p>
        <p class="empty-subtitle"></p>
        <div class="empty-action"></div>
      </div>
    </div>
    <div class="column col-xs-3"></div>
  </div>
</div>
