<div class="container">
  <div class="columns">
    <div class="column col-xs-12">
      <div class="p-centered">
        <img src="static/images/{{ map }}.jpg" alt="map" height="380">
      </div>
    </div>
  </div>
</div>
