<div class="container">
  <div class="columns">
    <div class="column col-xs-3"></div>
    <div class="column col-xs-6">
      <div class="p-centered">
        <img src="static/images/todo_list.jpg" alt="todo" height="380">
      </div>
    </div>
    <div class="column col-xs-3"></div>
  </div>
</div>
