<div class="container">
  <div class="columns">
    <div class="column col-xs-4">
      <div class="p-centered">
        <img src="static/images/Pinky.jpg" alt="pinky" height="380" width="250">
      </div>
    </div>
    <div class="column col-xs-4">
      <h2>Freetime!</h2>
    </div>
  </div>
</div>
