<div class="container">
  <div class="columns">
    <div class="column col-xs-8">
      <div class="p-centered">

        <div class="empty">
          <div class="empty-icon">
            <i class="icon icon-location"></i>
          </div>
          <p class="empty-title h4">Meetingraum vergessen?</p>
          <p class="empty-subtitle">
            Bitte scannen sie Ihren Badge um den nächsten Meetingraum anzuzeigen
          </p>
          <div class="empty-action">
          </div>
        </div>

      </div>
    </div>
    <div class="column col-xs-4">
      <div class="p-centered">
        <img src="static/images/TheBrain.jpg" alt="brain" height="380">
      </div>
    </div>
  </div>
</div>
