<div class="container">
  <div class="columns">
    <div class="column col-3"></div>
    <div class="column col-6">
      <div class="p-centered">

        <div class="empty">
          <div class="empty-icon">
            <i class="icon icon-location"></i>
          </div>
          <p class="empty-title h3">Meetingraum vergessen?</p>
          <p class="empty-subtitle">
            Bitte scannen sie Ihren Badge um den Meetingraum des nächsten Termins anzuzeigen
          </p>
          <div class="empty-action">
          </div>
        </div>

      </div>
    </div>
    <div class="column col-3">
      <img src="static/images/TheBrain.jpg" alt="brain" height="380">
    </div>
  </div>
</div>
